*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
    box-sizing: border-box;
}

body
{
    background: #222;
}

.card
{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input
{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button
{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img
{
    width: 16px;
}

.weather-icon
{
    width: 170px;
    margin-top: 30px;
}

.weather h1
{
    font-size: 80px;
    font-weight: 500;
}

.weather h2
{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;
}

.col
{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 10px;
    /*flex: 1;*/
}

.col img
{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind
{
    font-size: 28px;
    margin-top: -6px;
}

.weather
{
    display: none;
}

.error
{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

/* forecast */
.forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.forecast-day {
    background: #ffffff22;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    flex: 1;
    min-width: 100px;
    color: white;
}

.forecast-day img {
    width: 50px;
    height: 50px;
}

/* styling forecast section*/
.forecast-section {
    display: none;
    margin-top: 40px;
}

.forecast-section h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

/* max/min temps */
.forecast-day p {
    margin: 4px 0;
    font-size: 14px;
}

.forecast-day p strong {
    color: #ffdf5f;
}

/* feels like */

.feels-like {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #f0f0f0;
    font-weight: 500;
    font-style: italic;
}

/* precipitation */



